.forgot_password {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container */
.forgot_password__container {
  width: 100%;
  max-width: 800px;
  background-color: var(--background-color);
  max-height: 90%;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 40px;
  margin: 0 auto;
}

/* Content */
.forgot_password__content {
  display: flex;
  width: 100%;
}

.forgot_password__image_content {
  width: 40%;
  background-color: var(--primary-color);
  position: relative;
}

.forgot_password__image_content > img {
  width: 100%;
  height: 85%;
  object-fit: contain;
}

.forgot_password__image_content_text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
}

.forgot_password__image_content_text > h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

.forgot_password__image_content_text > p {
  font-size: 14px;
  line-height: 21px;
  opacity: 0.7;
}

/* Form Content */
.forgot_password__form_content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 40px 56px;
  justify-content: space-between;
}

.forgot_password__form_content > form > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 40px;
}

.forgot_password__form_content > form > input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: var(--secondary-color);
  border: none;
  padding: 12px 36px;
  border-radius: 4px;
  margin-bottom: 56px;
}

.forgot_password__form_content > form input::-webkit-input-placeholder {
  /* Edge */
  color: var(--text-primary);
}

.forgot_password__form_content > form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-primary);
}

.forgot_password__form_content > form input::placeholder {
  color: var(--text-primary);
}

.forgot_password__form_content > form > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.forgot_password__form_content > form > span > input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.001);
  outline: none;
  border: none;
  padding: 12px 36px;
}

.forgot_password__form_content > form > span > svg {
  margin-right: 25px;
}

.forgot_password__forgot_password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 16px;
  font-size: 10px;
  line-height: 15px;
  color: var(--text-secondary);
}

.forgot_password__forgot_password > span {
  display: flex;
  align-items: center;
}

.forgot_password__forgot_password > span > input {
  margin-right: 8px;
}

.forgot_password__forgot_password > p {
  color: var(--text-secondary);
  cursor: pointer;
}

.forgot_password__form_content > form > button,
.forgot_password__form_content > button {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 150px;
}

.forgot_password__button {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  margin-top: 10px;
}

/* Foot */
.forgot_password__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  color: var(--text-secondary);
}

.forgot_password__footer > h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.forgot_password__footer > h4 > span {
  color: var(--secondary-color);
  cursor: pointer;
}

.forgot_password__footer > p {
  font-size: 10px;
  line-height: 18px;
  margin-top: 8px;
}

.forgot_password__footer > p > a {
  color: var(--text-secondary);
  text-decoration: underline;
}

/* Responsive at 768px */
@media screen and (max-width: 768px) {
  /* Image */
  .forgot_password__image_content {
    display: none;
  }

  .forgot_password {
    top: 50px;
    background-color: var(--background-color);
  }

  /* Container */
  .forgot_password__container {
    top: 32px;
  }

  /* Form Content */
  .forgot_password__form_content {
    width: 100%;
    padding: 0 16px;
  }

  .forgot_password__form_content > h2 {
    margin-bottom: 32px;
  }

  .forgot_password__form_content > form > input {
    padding: 12px 16px;
    margin-bottom: 56px;
  }

  .forgot_password__form_content > form > span > input {
    padding: 12px 16px;
  }

  .forgot_password__form_content > form > button,
  .forgot_password__form_content > button {
    margin-bottom: 0;
  }
}
