/* Trending Stores */
.top_category {
  max-width: 1345px;
  margin: 0 auto;
}

.top_category__container {
  margin: 0 10px;
}

/* Banner Image */
.top_category__banner_image {
  margin-top: 102px;
}

/* Responsive at 1250px */
@media screen and (max-width: 1250px) {
  .top_category {
    max-width: 1224px;
  }
}

/* Responsive at 1250px */
@media screen and (min-width: 1250px) {
  .top_category {
    max-width: 80%;
  }
}

/* Responsive at 768px */
@media screen and (max-width: 768px) {
  .top_category__banner_image {
    margin: 66px 0 20px 0;
  }
}
