.missing_cashback {
    max-width: 1345px;
    margin: 0 auto;
}
  
.missing_cashback__container {
    margin: 0 10px;
}

/* Previous Link */
.missing_cashback__previous_page {
    font-size: 16px;
    line-height: 21px;
    margin-top: 112px;
}

.missing_cashback__previous_page_link {
    color: var(--text-secondary);
    padding-right: 5px;
}

/* Main Content */
.missing_cashback__main_content {
    display: flex;
    width: 100%;
}

/* Left Content */
.missing_cashback__left_content {
    width: 25%;
    margin-right: 104px;
}

/* Right Content */
.missing_cashback__right_content {
    width: 75%;
}

/* Responsive 991px */
@media only screen and (max-width: 991px) {
    /* Left Content */
    .missing_cashback__left_content {
        width: 0;
    }

    /* Right Content */
    .missing_cashback__right_content {
        width: 100%;
    }
}

  
/* Responsive at 1250px */
@media screen and (max-width: 1250px) {
    .missing_cashback {
      max-width: 1224px;
    }
}
  
/* Responsive at 1250px */
@media screen and (min-width: 1250px) {
    .missing_cashback {
      max-width: 80%;
    }
}

/* Responsive 991px */
@media screen and (max-width: 768px) {
    /* Previous Link */
    .missing_cashback__previous_page {
        margin-top: 80px;
    }
    
}