/* Product Details */
.product_details {
    width: 100%;
    background: rgba(0, 0, 0, .07);
    border-radius: 24px;
    padding: 55px 75px;
    margin-top: 80px;
}

/* Text Container */
.product_details__content span {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: var(--text-primary);
}

.product_details__content ul {
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    color: var(--text-primary);
    opacity: 0.6;
    margin: 16px 0 40px 15px;
}

/* Responsive 991px */
@media screen and (max-width: 991px) {
    /* Product Details */
    .product_details {
        border-radius: 16px;
        padding: 34px 55px;
        margin-top: 60px;
    }

    /* Text Container */
    .product_details__content span {
        font-size: 18px;
        line-height: 30px;
    }

    .product_details__content ul {
        font-size: 14px;
        line-height: 28px;
        margin: 16px 0 30px 15px;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    /* Product Details */
    .product_details {
        border-radius: 8px;
        padding: 24px 20px;
        margin-top: 40px;
    }

    /* Text Container */
    .product_details__content span {
        font-size: 16px;
        line-height: 24px;
    }

    .product_details__content ul {
        font-size: 12px;
        line-height: 23px;
        margin: 16px 0 22px 15px;
    }
}