.invite_info {
    margin-top: 80px;
}

.invite_info_link {
    font-size: 16px;
    line-height: 21px;
    padding-top: 32px;
}

.invite_info_link > a {
    color: var(--text-secondary);
}

/* Content */
.invite_info__content {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 -5px;
    width: 100%;
}

.invite_info__left_content, .invite_info__right_content {
    width: 50%;
}

.invite_info_text {
    width: 90%;
}

.invite_info_text > h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.invite_info_text > p {
    font-size: 24px;
    line-height: 36px;
    color: var(--text-secondary);
    margin-top: 24px;
}

/* Image */
.invite_info__right_content {
    display: flex;
    justify-content: end;
}

.invite_info__image_container {
    width: 300px;
}

.invite_info__image_container > img {
    width: 100%;
    object-fit: contain;
}

/* Responsive at 991px */
@media screen and (max-width: 991px) {
    /* Content */
    .invite_info__content {
        margin: 28px 0 26px;
    }

    .invite_info_text {
        width: 100%;
    }

    .invite_info_text > h2 {
        font-size: 40px;
        line-height: 60px;
        width: 100%;
    }

    .invite_info_text > p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }

    /* Image */
    .invite_info__image_container {
        width: 250px;
    }
}

/* Responsive at 768px */
@media screen and (max-width: 768px) {
    .invite_info_link {
        display: none;
    }

    .invite_info__right_content {
        display: none;
    }
    
    /* Content */
    .invite_info__content {
        margin: 28px 0 40px;
    }
    
    .invite_info__left_content, .invite_info_text {
        width: 100%;
    }
    
    .invite_info_text > h2 {
        font-size: 28px;
        line-height: 40px;
        width: 100%;
    }
    
    .invite_info_text > p {
        font-size: 14px;
        line-height: 21px;
        margin-top: 16px;
    }
}