.invite {
    max-width: 1345px;
    margin: 0 auto;
}
  
.invite__container {
    margin: 0 10px;
}

/* Responsive at 1250px */
@media screen and (max-width: 1250px) {
    .invite {
      max-width: 1224px;
    }
}
  
/* Responsive at 1250px */
@media screen and (min-width: 1250px) {
    .invite {
      max-width: 80%;
    }
}