/* Banner Images */
.banner__images {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner__images img {
  width: 50%;
  height: 288px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
}

.banner__images img:first-child {
  margin-right: 23px;
}

/* Responsive max-width: 991px */

@media screen and (max-width: 991px) {
  .banner__images {
    margin-top: 80px;
  }

  .banner__images img {
    width: 100%;
    margin: 16px 0px 6px 0px !important;
  }
}

/* Responsive max-width: 768px */

@media screen and (max-width: 768px) {
  .banner__images {
    margin-top: 50px;
  }

  .banner__images img {
    height: 168px;
  }

  .banner__images img:first-child {
    margin-right: 0px;
  }
}
